<% layout('layouts/boilerplate') -%>


    <div class="row">
        <div class="col-lg-6">
            <div class="card text-center shadow-lg mx-auto" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=product.name%>
                    </h5>
                    <img src="<%=product.img%>" class="card-img-top" alt="product img">
                    <p class="card-text">
                        <%=product.desc%>
                    </p>
                    <p class="card-text">₹<%=product.price%>
                    </p>
                    <a href="#" class="btn btn-success btn-sm">Buy</a>
                    <a href="#" class="btn btn-secondary btn-sm">Add to cart</a>
                    <a href="/products/<%=product._id%>/edit" class="btn btn-info btn-sm">Edit</a>
                    <form class="d-inline-block" action="/products/<%=product._id%>?_method=delete" method="post">
                        <button class="btn btn-danger btn-sm " type="submit">Delete</button>
                    </form>

                </div>
            </div>

        </div>






        <div class="col-lg-4">
            <h1 class="display-5">leave your review</h1>
            <form action="/products/<%=product._id%>/review" method="post">
                <div>
                    <!-- <label class="form-label" for="rating">Rating</label> -->
                    <!-- <input class="form-control" type="range" min="0" max="5" name="rating" id="rating"> -->

                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>



                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Desctiption</label>
                    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Add</button>
            </form>

            <div class="my-3">
                <% for(let review of product.reviews){ %>

                    <div class="card mb-2">
                        <!-- <h5 class="card-header">Rating : <%= review.rating %></h5> -->
                        <div class="card-body"> 
                            <p class="starability-result" data-rating="<%=review.rating%>">
                                Rated: <%=review.rating%> stars
                            </p>
                            </h5>

                            <p class="card-text">
                                <%=review.comment%>
                            </p>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </div>

                    <% } %>

            </div>


        </div>









    </div>